.css-1tke72g {
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(120px);
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    background: linear-gradient(127.09deg, rgba(6, 11, 40, 0.94) 19.41%, rgba(10, 14, 35, 0.49) 76.65%) border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-image: initial;
    border-radius: 1.25rem;
    padding: 17px;
}
body.white-content .css-1tke72g {
    background: #f6f9fc;
}
.css-7wmvu8 {
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}
.css-7wmvu8 {
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}
.css-v3z1wi {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}
.css-18phfu2 {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    display: flex;
}
.css-1ie9lhf {
    margin-left: 0px;
    line-height: 1;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
}
.css-17x5xym {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.25;
    opacity: 1;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(160, 174, 192);
    font-weight: 400;
}
.css-1br58i5 {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.625;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.css-7d00n7 {
    margin: 0px;
    font-family: "Plus Jakarta Display", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(1, 181, 116);
    font-weight: 700;
}
.css-nbt530 {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    margin-left: auto;
}
.css-uo81m3 {
    width: 3rem;
    height: 3rem;
    margin-right: auto;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    background: #1E90FF;
    color: rgb(255, 255, 255);
    border-radius: 0.9375rem;
    box-shadow: rgba(20, 20, 20, 0.12) 0rem 0.25rem 0.375rem -0.0625rem, rgba(20, 20, 20, 0.07) 0rem 0.125rem 0.25rem -0.0625rem;
}
.css-c6zp6d {
    user-select: none;
    width: 1em;
    height: 1em;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    font-size: 1.25rem !important;
}
.minmaxAttribute{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-left: 1.2rem;
}
.advice-paragraph {
    height: 3em; /* Adjust this to fit exactly 2 lines of text */
    line-height: 1.5em; /* Adjust line height as needed */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    white-space: normal;
}
