@media screen and (max-width: 456px) {
    .statistical {
        flex-direction: column;
    }

    .statistical > div {
        display: flex;
        flex-wrap: wrap;
    }

    .statistical > div > div {
        flex: 1;
        margin-right: 10px; /* Khoảng cách giữa các ô input */
    }

    .btn-group-toggle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Thêm để phân bố các nút trên các dòng khác nhau */
    }

    .btn-group-toggle > button {
        flex: 1;
        margin-right: 5px;
        border-radius: 0;
        margin-top: 10px;
    }

    .input {
        width: 30px;
    }

    .align-self-center {
        display: none;
    }

    .btn-group-toggle > button {
        order: -3;
    }

    .btn-group-toggle > button:nth-of-type(2) {
        order: -2;
    }
    .btn-group-toggle > button:nth-of-type(1) {
        order: -1;
    }
    .btn-group-toggle > button:nth-of-type(3) {
        order: -4;
    }
}
